@media screen and (max-width: 844px) {
    main > .right {
        display: none;
    }
}

@media screen and (max-width: 680px) {
    main {
        padding: 30px 0;
    }
    
    
    /*
    main > .left {
        display: none;
    }
*/
    /* PITCH */
    #pitch-y {
        display: block;
        /* max-width: 400px; */
    }
    #pitch-x {
        display: none;
    }
    .players-position #pitch-side-2 {
        flex-direction: column-reverse;
    }
    .players-position > div {
        flex-direction: column;
        width: 100%;
        height: 50%;
        /* justify-content: space-evenly; */
    }
    .players-position {
        flex-direction: column;
    }
    .players-position div.line {
        height: 20%;
        width: 100%;
    }
    .players-position #pitch-side-1 div.line {
        flex-direction: row;
    }
    .players-position #pitch-side-2 div.line {
        flex-direction: row-reverse;
        align-items: self-end;
    }
}
@media screen and (max-width: 500px) {
    .data-table > section .label img {
        width: 17px;
        flex-shrink: 0;
    }
    main .middle > * {
        /* margin: 0 10px; */
    }
    .mylineup .line > a {
        transform: scale(0.9);
    }
    .table-wrapper .team-name {
        flex-grow: unset;
        width: 150px;
    }
}


